p{
    font-family: league sparten;
    text-align: center;
    color: #ffa511;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    text-decoration: double underline rgb(18, 231, 238);
}